body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #D7D7D7;
}
.about-me {
    background-color: #fff;
}
.articles {
    background-color: #eaf9ff;
}
.container {
    width: 570px;
    margin: 0 auto;
}
header,
section {
    padding: 100px 0;
}
h1, h2 {
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 60px;
}
h2{
    font-size: 42px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 30px 0;
    margin-bottom: 20px;
}
h3 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 0;
}

h1 span,
h2 span {
    font-weight: 900;
}
h1 .bold-text {
    font-size: 80px;
}
h2 .bold-text {
    font-size: 60px;
}
.bold-text {
    display: block;
}
a {
    color: #99d930;
    font-weight: 900;
}
a:hover,
a:focus {
    color: #131313;
}
.small-text {
    font-size: 15px;
    margin-top: 5px;
}
p{
    margin-bottom: 0;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #99D930;
    color: #252525;
    margin-top: 25px;
    text-decoration: none;
}
.btn:hover{
    color: #fff;
    background: #252525
}
.inverse {
    color: #fff;
    background: #252525;
}
.text-accent {
    display: block;
}
h1 .text-accent {
    font-size: 80px;
}
h2 .text-accent {
    font-size: 60px;
}
.text-accent,
.name,
time {
    color: #99d930;
    Font-weight: 900;
}
.articles .btn:hover,
.articles .btn:focus {
    background-color: #fff;
    color: #252525;
}           

img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px white solid;
}
